* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* /utility */
.float-left {
  float: left;
}

.float-right {
  float: right;
}
/* utility */

body {
  background-image: url("../img/natural-default-pattern.png");
  width: 60vw;
  height: 1000px;
  margin: auto;
  font-family: 'Montserrat',Arial,Helvetica,sans-serif;
  font-weight: 400;
}

.container-header {
  width: 100%;
  height: 35%;
  background-color: rgb(80, 71, 65);
  margin-top: 2%;
}

.header-img {
  width: 100%;
  height: 85%;
  border: 10px solid white;
  background-size: cover;
  position: relative;
  background-image: url("../img/natural-default-header.jpg");
}

.header-text {
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-text h1 {
  font-size: 1em;
  color: white;
}

.header-logo {
  width: 100%;
  height: 80%;
  background-size: cover;
  z-index: 1000;
  position: relative;
}

.logo {
  width: 368px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50%;
}

.navbar {
  background-color: rgb(80, 71, 65);
  height: 15%;
  width: 100%;
  text-align: center;
}

.navbar ul {
  width: 100%;
  height: 100%;
  overflow: hidden;
  list-style: none;
}

.navbar ul > li {
  display: inline-block;
  text-transform: uppercase;
  position: relative;
}

.navbar a {
  text-decoration: none;
  color: white;
}

 .navbar a {
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 20px 10px;
}

.navbar li a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  text-decoration: underline;
}

/* /Main pagina */

main {
 margin-top: 20px;
}

.sidebar-left{
  height: 100%;
  background: white;
  width: 21%;
  border-radius: 10px;
}

.sidebar-center{
  height: 400px;
  width: 50%;
  margin: 0 4%;
}

.sidebar-right{
  width: 455px;
  width: 21%;
}

/* Parte sinistra main*/
.box-sinistra{
  width: 100%;
}

.box-sinistra i {
  font-size: 2.5em;
  color: orange;
  padding-left: 0.2em;
  padding-top: 0.2em;
}

.side-left-text {
  width: 60%;
  padding-left: 10px;
  padding-top: 10px;
  overflow: hidden;
}

.box-sinistra a {
  padding: 10px 10px;
  text-decoration: none;
  color: rgb(34, 136, 20);
}

.box-sinistra li a:hover {
  text-decoration: underline;
  background-color: gray;
}

.box-sinistra ul > li  {
  list-style: none;
  display: inline-block;
  padding: 9px;
}

  /* Parte centrale main */
.box-centro{
  width: 100%;
  background: white;
  border-radius: 10px;
}

.box-centro h1 {
  padding: 15px;
  padding-top: 20px;
  text-shadow: 2px 2px lightgray;
}

.box-centro p {
  padding: 15px;
}

/* Parte destra main */

.box-destra{
  height: 455px;
  width: 100%;
  background: white;
  border-radius: 10px;
  margin-bottom: 50px;
}

.box-destra h1 {
  padding: 15px;
  padding-top: 20px;
}

.box-destra p {
  padding: 15px;
  overflow-y: hidden;
}


aside {
  line-height: 1.8em;
}

 /* Clear */

main::after{
  content: "";
  display: table;
  clear: both;
}
aside::after{
  content: "";
  display: table;
  clear: both;
}
 /* /Main pagina */
 /* Footer Pagina */

.footer{
  height: 150px;
  width: auto;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 5%;
  position: relative;
}

.footer p {
  text-align: center;
  color: lightgray;
}

.footer hr {
  border: 1px inset lightgray;
}

.footer i {
  width: 33%;
  text-align: center;
  margin-top: 40px;
  font-size: 3em;
  color: lightgray;
}

.fb:hover {
  color: blue;
}

.insta:hover {
  color: purple;
}

.git:hover {
  color: black;
}
/* Footer Pagina */
